<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Tag</mat-card-title>
    <mat-card-subtitle>{{mangaTitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      {{mangaSynopsis}}
    </div>
    <mat-form-field appearance="fill">
      <textarea matInput placeholder="Tag" [(ngModel)]="tagInput">{{tagInput}}</textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onSave()" mat-button>Save</button>
    <button (click)="onCancel()" mat-button>Cancel</button>
  </mat-card-actions>
</mat-card>