<button (click)="onClickMe()">Click me!</button>
<button (click)="onWriteFileButton()">Write out</button>
<!-- <button (click)="onReadFileButton()">read in</button> -->
<input type="file" name="files" class="form-control" 
                     #uploads  (change)="onChange(uploads.files)" multiple
                     value="process"/>
<div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element._title}} </td>
    </ng-container>

    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef> Progress </th>
      <td mat-cell *matCellDef="let element"> {{element._progress.toString()}} </td>
    </ng-container>

    <ng-container matColumnDef="coverArt">
      <th mat-header-cell *matHeaderCellDef> Cover Art </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element._coverArt}} </td> -->
      <td mat-cell *matCellDef="let element"> <img [src]="element._coverArt" /> </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef> Tags </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element._coverArt}} </td> -->
      <td mat-cell *matCellDef="let element">
        {{element._tags}}
        <button (click)="onOpenTagDialog(element)"> Update Tag</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>