table {
    width: 100%;
}

.mat-column-title {
    width: 20%
}

// .mat-column-synopsis {
//     width: 40%;
//     overflow-y: auto;
//     overflow-wrap: break-word;
// }

mat-column-progress {
    width: 20%;
}

.mat-column-coverArt {
    width: 20%;
}

.mat-column-tags {
    width: 40%
}